
#collapsable-nav {
  background-color: #f2f2f2;
}

.panel-body {
  background-color: #e0e0e0;
  padding: 20px;
}

.main-section {
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}
